
*,*:before,*:after{
    margin: 0px;
    padding: 0px;
}
*:focus{
    outline: none;
}
a{
    text-decoration: none;
}
li{
    list-style: none;
}
html{
    font-size: 4vw;
}
.clear:after{
    display: block;
    clear: both;
    content: '';
}